.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10%;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  bottom:100px;
  z-index: 1;
}

.title {
  font-size: 30px;
  width: 80px;
}

.nav-list {
  display: flex;
  font-weight: bold;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
}

.cc {
  background-color: #F2F2F2;
  height: 600px;
  width: 85%;
  margin: 0 auto;
  position: relative;
}

.table-name {
  border-bottom: solid 1px #909090;
  border-top: solid 1px #909090;
  height: 50px;
  font-size: 20px;
  line-height: 3;
}

tr {
  border-bottom: solid 1px #909090;
  padding: 10px;
}

.cc-button{
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 8%;
  width: 30%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.btn-back{
  background-color: #fff;
  color: #214BE0;
  border-color: #214BE0;
}

.btn-next{
  background-color: #fff;
  color: #214BE0;
  border-color: #214BE0;
}

.tt-name{
  height: 350px;
  width: 80%;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  /* 水平・垂直方向の中央揃え */
  position: absolute;
  left: 10%;
  margin: -25px 0 0 -25px;
}

.item {
  float: left;
  padding: 20px 30px;
  text-align: center;
}

.example2 li {
  display: inline;
  padding: 10px 15px;
  color: #214BE0;
  background-color: #fff;
}

.example2 .this {
  background-color: #214BE0;
  color: #fff;
}

.pe{
  height: 100px;
  text-align: center;
  margin-right: 15%;
  margin-top: 50px;
}

.card{
  font-size: 24px;
}

.table-na {
  border-top: solid 1px #909090;
  height: 50px;
  font-size: 20px;
  line-height: 3;
}