.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10%;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  bottom:100px;
  z-index: 1;
}

.title {
  font-size: 30px;
  width: 80px;
}

.nav-list {
  display: flex;
  font-weight: bold;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  background-color: #F2F2F2;
  height: calc(100vh - 70px - 16px);
  width: 100%;
  margin: 0 auto;
}

.date-button {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 8%;
  display: flex;
  justify-content: center;
}

.item {
  padding: 20px 30px;
  text-align: center;
}

.btn-back {
  background-color: #fff;
  color: #214BE0;
  border-color: #214BE0;
}

.btn-next {
  background-color: #fff;
  color: #214BE0;
  border-color: #214BE0;
}

.date {
  font-size: 24px;
}

.data-list {
  width: 100%;
  height: 100%;
}

.data-list-inner {
  height: 350px;
  width: 80%;
  margin: 0 auto;
}

.data-list-unit {
  border-bottom: solid 1px #909090;
  border-top: solid 1px #909090;
  height: 50px;
  font-size: 20px;
  line-height: 3;
  text-align: center;
}

.data-list-unit:last-of-type{
  border-bottom: none;
}

tr {
  border-bottom: solid 1px #909090;
  padding: 10px;
}

.pagination {
  height: 100px;
  text-align: center;
  margin-top: 50px;
}

.toc li {
  display: inline;
  padding: 10px 15px;
  color: #214BE0;
  background-color: #fff;
}

.toc .this {
  background-color: #214BE0;
  color: #fff;
}


footer {
  text-align: center;
}