.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10%;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 100px;
  z-index: 1;
}

.title{
  font-size: 24px;
  width: 80px;
  font-size: 30px;
}

.main {
  background-color: #F2F2F2;
  height: 600px;
  margin: 0 auto;
}

.main-title {
  font-size: 20px;
  text-align: center;
  padding: 50px;
}

.form {
  flex-wrap: wrap;
  text-align: center;
}

.form-group{
  width: 50%;
  margin: 0 auto;
}

.form-screen {
  margin-top: 5px;
  font-size: 20px;
  width: 48%;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
  border-color: #9C9C9C;
  background-color: #F2F2F2;
}

.btn-login {
  margin-top: 5px;
  font-size: 20px;
  width: 25%;
  padding: 5px;
  background-color: #214BE0;
  color: #fff;
  margin-top: 20px;
  border-radius: 5px 5px 5px 5px;
  border: none;
}

.sign-up {
  width: 50%;
  padding-top: 30px;
  line-height: 30px;
  margin: 0 auto;
}

.sign-up-title {
  color: #9C9C9C;
}

.btn-sign-up{
  border: none;
  color: #214BE0;
  font-size: 20px;
}

footer {
  text-align: center;
}