.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10%;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 100px;
  z-index: 1;
}

.title {
  font-size: 24px;
  width: 80px;
  font-size: 30px;
}

.nav-list {
  display: flex;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

.main {
  background-color: #F2F2F2;
  height: calc(100vh - 70px - 16px);
  width: 100%;
  margin: 0 auto;
}

.main-title {
  font-size: 20px;
  text-align: center;
  padding: 50px;
}

.time-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.card{
  width: 50%;
  padding-bottom: 50px;
  text-align: center;
}

.btn {
  font-size: 20px;
  height: 200px;
  width: 90%;
  background-color: #fff;
  border: none;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

footer {
  text-align: center;
}